AddHandler application/x-httpd-php56 .php
# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок
  Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Включаем mod_rewrite
  RewriteEngine On
  RewriteCond %{HTTPS} =off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]
  RewriteCond %{HTTP_HOST} ^www.krasber.ru
  RewriteRule (.*) https://krasber.ru/$1 [R=301,L]
  IndexIgnore */*
  # Перенаправляем _root на входной скрипт админки
  RewriteRule ^_root(.*)?$ /backend/web/$1 [L,PT]
  # Перенаправляем все запросы на входной скрипт
  RewriteRule ^([^/].*)?$ /frontend/web/$1
</IfModule>
