{% if model %}
    <ul class="{{ cssClass }}">
        {% for item in model %}
            <li{% if app.request.url == item.link or app.controller.id == item.link| replace({'/':''}) %} class="active"{% endif %}><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}