<ul class="sitemap">
    {% for item in model %}
        <li>
            <a href="{{ path('site/page', {'alias' : item.alias| replace({'index': ''})}) }}">{{ item.name }}</a>
            {% if item.alias == 'services' %}
                <ul>
                    {% for item in services %}
                        <li>
                            <a href="{{ path('services/show', {'alias' : item.alias}) }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>