<ul class="sitemap">
    {% for item in model %}
        <li>
            <a href="{{ path('site/page', {'alias' : item.alias| replace({'index': ''})}) }}">{{ item.name }}</a>
        </li>
    {% endfor %}
</ul>