{{ set(this, 'title', model.title) }}
{{ this.registerMetaTag({'name':'description', 'content': model.description}) }}
<div class="container wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="center content">
                {{ model.text| raw }}
            </div>
        </div>
    </div>
</div>